body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1300px;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  display: block;
}
table,
td {
  border: 1px solid blue;
  border-collapse: collapse;
}
td {
  color: blue;
  font-weight: 600;
}
table {
  min-width: 15%;
  max-height: 282px;
}
button,
input,
select {
  cursor: pointer;
}
input,
textarea {
  font: inherit;
}
[tabindex]:focus {
  outline: 1px solid black;
}
select {
  width: auto;
  height: 25px;
}
textarea {
  vertical-align: middle;
  min-height: 100px;
  resize: vertical;
}
label,
input[type="radio"] {
  color: blue;
}
p {
  margin: 0;
  padding: 0;
}
button {
  padding: 4px;
  background-color: aliceblue;
  color: black;
  border: 1px solid blue;
  border-radius: 5px;
}
p {
  padding-left: 150px;
}
.top img {
  width: 1300px;
  height: auto;
}
.main {
  display: flex;
}
.title {
  display: block;
  text-align: center;
  color: green;
  font-size: 20px;
  font-weight: 600;
  background-color: aliceblue;
  width: 1120px;
  margin-bottom: 5px;
}
.form-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
}
.form-label {
  width: 250px;
  display: flex;
  flex-direction: column;
  text-align: right;
}
.form-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#lb1 {
  margin-top: 2px;
}
#lb2 {
  margin-top: 12px;
}
#lb3 {
  margin-top: 9px;
}
#lb4 {
  margin-top: 13px;
}
