body {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: red;
}

.form-group {
  margin-bottom: 15px;
}
fieldset {
  border: 1px solid red;
  border-radius: 5px;
}
legend {
  color: red;
}

input,
textarea,
select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 100px;
}

button {
  margin-top: 15px;
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #0099ff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0077cc;
}
select {
  cursor: pointer;
}
