body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}
.container {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}

.label-right {
  float: left;
  width: 150px;
  text-align: center;
}

.input-field,
.input-image,
.select-field {
  width: 300px;
  padding: 5px;
  border: 1px solid #ccc;
}

.radio-inline {
  margin-right: 10px;
}

.button {
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}
