body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
  text-align: center;
}

label {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 10px;
}

input[type="text"],
input[type="image"],
select,
textarea {
  width: 300px;
  padding: 5px;
  border: 1px solid #ccc;
}

input[type="radio"] {
  width: 20px;
  /* margin-right: 5px; */
}

button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fafafa;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}
