body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aqua;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 7px dotted white;
}

span {
  color: white;
  text-shadow: 0 0 10px blue;
  font-weight: 900;
  font-size: 26px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 600;
}

nav ul li a:hover {
  background-color: #555;
}

.li-child {
  display: none;
}
