body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aqua;
  color: white;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 7px dotted white;
}

span {
  text-shadow: 0 0 10px blue;
  font-weight: 900;
  font-size: 26px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 600;
  color: white;
}

nav ul li a:hover {
  background-color: #555;
}

img {
  width: 70%;
  height: 50%;
}
label {
  float: left;
}

input {
  float: left;
}

button {
  border: 2px dashed black;
}

p {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 5px;
  gap: 10px;
}

.li-child {
  display: none;
}

.title {
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-weight: 900;
  font-size: 26px;
  text-align: left;
}

.form-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}
.form-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  justify-content: space-between;
}

.form-label {
  display: inline-block;
  margin-bottom: 5px;
  width: 20%;
}

.form-input {
  display: inline-block;
  width: calc(70% - 10px);
  padding: 10px;
  border: 1px solid #ccc;
}

.btn {
  margin-left: 180px;
}

footer {
  border-top: 7px dotted white;
  padding: 20px;
  text-align: center;
}
.footer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-copyright {
  font-weight: 600;
  font-size: 18px;
}

.footer-contact-info {
  font-size: 16px;
}
