body {
  margin: 0 auto;
  max-width: 800px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  padding: 0;
}
h1 {
  color: transparent; /* Làm chữ trở thành trong suốt */
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Áp dụng shadow mờ */
}
.ribbon {
  position: absolute;
  top: 50;
  left: 30;
  background-color: #ff6347;
  color: #fff;
  padding: 5px 10px;
  transform: rotate(-45deg);
}
