body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bar {
  list-style-type: none; /* Loại bỏ dấu chấm đầu dòng */
  margin: 0;
  padding: 0;
  background-color: #333; /* Màu nền của thanh menu */
}

.bar li {
  float: left; /* Căn trái các mục menu */
}

.bar li a {
  display: block;
  color: white; /* Màu chữ của các mục menu */
  text-align: center;
  padding: 14px 20px; /* Khoảng cách giữa các mục menu */
  text-decoration: none;
}

.bar li a:hover {
  background-color: #ddd; /* Màu nền khi hover */
  color: black; /* Màu chữ khi hover */
}

.bar li a.active {
  background-color: #007bff; /* Màu nền của mục đang được chọn */
}
