body {
  margin: 0 auto;
  max-width: 800px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  padding: 0;
}
h1 {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
p {
  margin-top: 30px;
}
.container {
  position: relative;
  margin-top: 100px;
}
.ribbon {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #ff6347;
  color: #fff;
  padding: 5px 10px;
  transform: rotate(-45deg);
}
