body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu {
  width: 100px;
}

.menu a {
  background-color: #f2f2f2;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.menu a:hover {
  background-color: #ddd;
}

.menu a.active {
  background-color: #007bff;
  color: white;
}
