body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rosybrown;
}
.bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: blue;
}

.bar li {
  float: left;
}

.bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.bar li a:hover {
  background-color: #ddd;
  color: black;
}
