body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ddd;
}
h1 {
  font-size: 40px;
  color: red;
  text-align: center;
}
h1:first-child {
  color: white;
}
h2 {
  font-size: 30px;
  color: white;
}

nav {
  background-color: red;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
}

a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
a:hover {
  background-color: #666;
}

main {
  display: flex;
  flex-direction: column;
  background-color: cadetblue;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
}
.title h2 {
  color: red;
  text-align: center;
}
/* .special {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;

} */
.active {
  color: red;
}
.special {
  display: flex;
  justify-content: space-between; /* Centers items with space between */
  align-items: center; /* Centers items vertically */
  margin: 0 auto;
}

.special h2 {
  text-align: center; /* Center-align text */
  word-wrap: break-word; /* Allow text to wrap */
  max-width: 30%; /* Limit maximum width to prevent stretching */
}
