body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: darkgrey;
  color: white;
  text-align: center;
  padding: 10px;
}
h1 {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
/* .left {
  padding: 10px;
  background-color: antiquewhite;
} */
.main {
  padding: 10px;
}
.floatLeft {
  float: left;
  margin-right: 10px;
}
h1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 10px;
  color: white;
  background-color: darkgrey;
  z-index: 2s;
}
a {
  display: block;
}
.nav {
  z-index: 1;
  position: absolute;
  top: 80px;
  left: 0;
  height: 300px;
  padding: 10px;
  background-color: antiquewhite;
}
.nav::before {
  content: "Navigation";
  font-size: 18px;
  font-weight: bold;
}
.abstract {
  font-weight: bold;
}
